/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// override some vars

@import 'bulma/sass/utilities/functions.sass';

$primary: #7957d5 !default;
$primary-invert: findColorInvert(#7957d5) !default;
$primary-light: findLightColor(#7957d5) !default;
$primary-dark: findDarkColor(#7957d5) !default;

@import 'bulma/bulma.sass';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}
